<section class="achievement-box">
    <section class="achievement-title">{{ achievementInformation.title}}</section>
    <section class="achievement-image-box">
        <section class="achievement-image" style="background-image: url('{{ achievementInformation.image.url }}');"></section>
    </section>
    <section class="achievement-level"><b>Level 2:</b></section>
    <section class="requirement-section">You are almost there!</section>
    <section class="explanation-section">{{ achievementInformation.description }}</section>
</section>
