*:has(form) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 4rem;
}

form section {
  display: flex;
  flex-direction: column;
  width: 40vw;
  min-width: 20rem;
}

input {
  font-size: 1.4rem;
  background-color: #eee;
  border-radius: 0.8rem;
}

button {
  font-size: 1.4rem;
  color: #fff;
  justify-content: center;
  height: 3rem;
  width: 40vw;
  min-width: 20rem;
  border: none;
  border-radius: 20rem;
  box-shadow: 0.14rem 0.17rem rgba(0, 0, 0, 0.251);
  background-color: #70b677;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9);
  box-shadow: inset 0.14rem 0.17rem rgba(0, 0, 0, 0.351);
}

input.ng-valid {
  border: 3px solid green;
}

input.ng-invalid {
  border: 3px solid red;
}

input.ng-untouched {
  border: 3px solid #000;
}

p {
  color: red;
}

app-popup {
  position: fixed;
  top: 5rem;
  left: 50%;
  translate: -50% 0;
}
